<div class="cards">
  <div class="card-info animate__animated animate__fadeIn">
    <div class="card card-1">
      <p>
        <img src="../../assets/profil-photo.jpg" alt="profil photo" />
        &nbsp;{{ "General information parr-1" | translate }}
        <br />
        <span>
          {{ "General information parr-2" | translate }}
        </span>
      </p>
    </div>
  </div>
  <div class="card-skill">
    <div class="card card-2 animate__animated animate__fadeInUp">
      <h3 class="card-title">Frontend</h3>
      <div class="frontend">
        <img src="../../assets/frontend.png" alt="frontend" />
        <img
          src="https://angular.io/assets/images/logos/angular/angular.svg"
          alt="angular"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
          alt="react"
        />
      </div>
      <p>
        {{ "Frontend parr-1" | translate }}
      </p>
      <p>
        {{ "Frontend parr-2" | translate }}
      </p>
      <p>
        {{ "Frontend parr-3" | translate }}
      </p>
    </div>
    <div class="card card-3 animate__animated animate__fadeInUp">
      <h3 class="card-title">Backend</h3>
      <div class="backend">
        <img src="../../assets/backend.png" alt="backend" />
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
          alt="nodejs"
        />
        <img
          src="https://www.vectorlogo.zone/logos/firebase/firebase-icon.svg"
          alt="firebase"
        />
      </div>
      <p>
        {{ "Backend" | translate }}
      </p>
    </div>
    <div class="card-DB-GIT">
      <div class="card card-4">
        <div class="card-data-base">
          <img src="../../assets/base-de-datos.png" alt="SQL" />
          <h3 class="card-title">{{ "Database-title" | translate }}</h3>
        </div>
        <p>
          {{ "Database-body" | translate }}
        </p>
      </div>
      <div class="card card-5">
        <div class="card-github">
          <img
            src="https://www.vectorlogo.zone/logos/github/github-tile.svg"
            alt="git"
          />
          <h3 class="card-title">Git y Github</h3>
          <img
            src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg"
            alt="git"
          />
        </div>
        <p>
          {{ "Git-parr" | translate }}
          <a href="https://github.com/JoniMeichtry11" target="__blank">
            <span>{{ "Git-button" | translate }}</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-proyects">
    <p>{{ "Footer-proyects" | translate }}</p>
    <button routerLink="/proyects">{{ "Proyects" | translate }}</button>
  </div>
  <div class="footer-contact">
    <p>{{ "Footer-contact" | translate }}</p>
    <div class="container-redes">
      <a href="https://wa.me/+543462680561" target="__blank" id="whatsapp">
        <img src="../assets/whatsapp.png" alt="whatsapp" />
      </a>
      <a href="https://github.com/JoniMeichtry11" target="__blank" id="github">
        <img src="../assets/github.png" alt="github" />
      </a>
      <a href="https://twitter.com/JoniMech11" target="__blank" id="twitter">
        <img src="../assets/twitter.png" alt="twitter" />
      </a>
      <a href="mailto:joni.meichtry@gmail.com" target="__blank" id="gmail">
        <img src="../assets/gmail.png" alt="gmail" />
      </a>
      <a
        href="https://www.linkedin.com/in/jonathanmeichtry"
        target="__blank"
        id="linkedin"
      >
        <img src="../assets/linkedin.png" alt="linkedin" />
      </a>
    </div>
  </div>
</div>
