<div class="container-full-stack">
  <div class="container-title">
    <div class="title-img">
      <img
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
        alt="HTML5"
      />
      <img
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
        alt="CSS"
      />
      <h2>{{ "H-C" | translate }}</h2>
    </div>
  </div>

  <div class="container-cards">
    <div class="card-proyect">
      <h3>Fixture Mundial 2022</h3>
      <img src="../../assets/gifs/fixture.jpg" alt="" />
      <div class="card-buttons">
        <a
          href="https://github.com/JoniMeichtry11/Fixture-Mundial-2022"
          target="__blank"
          style="background: #000000"
        >
          <span
            ><i class="fab fa-github" style="padding-right: 3px"></i
            >{{ "button-repository" | translate }}</span
          >
        </a>
        <a
          href="https://fixtureqatar2022.netlify.app/"
          target="__blank"
          style="background: rgb(14, 179, 14)"
        >
          <span>{{ "button-visit-web" | translate }}</span>
        </a>
      </div>
    </div>
    <div class="card-proyect">
      <h3>Viaje Random</h3>
      <img src="../../assets/gifs/viaje.gif" alt="" />
      <div class="card-buttons">
        <a
          href="https://github.com/JoniMeichtry11/Viaje-Random"
          target="__blank"
          style="background: #000000"
        >
          <span
            ><i class="fab fa-github" style="padding-right: 3px"></i
            >{{ "button-repository" | translate }}</span
          >
        </a>
        <a
          href="https://viajaralmundo.netlify.app/"
          target="__blank"
          style="background: rgb(14, 179, 14)"
        >
          <span>{{ "button-visit-web" | translate }}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="container-title">
    <div class="title-img">
      <img
        src="https://angular.io/assets/images/logos/angular/angular.svg"
        alt="angular"
      />
      <img
        src="https://www.vectorlogo.zone/logos/firebase/firebase-icon.svg"
        alt="firebase"
      />
      <h2>{{ "A-F" | translate }}</h2>
    </div>
  </div>
  <div class="container-cards">
    <div class="card-proyect">
      <h3>{{ "Memes-F" | translate }}</h3>
      <img src="../../assets/gifs/memes.gif" alt="" />
      <div class="card-buttons">
        <a
          href="https://github.com/JoniMeichtry11/App-Memes"
          target="__blank"
          style="background: #000000"
        >
          <span
            ><i class="fab fa-github" style="padding-right: 3px"></i
            >{{ "button-repository" | translate }}</span
          >
        </a>
        <a
          href="https://memes-1cd61.web.app/"
          target="__blank"
          style="background: rgb(14, 179, 14)"
        >
          <span>{{ "button-visit-web" | translate }}</span>
        </a>
      </div>
    </div>
    <div class="card-proyect">
      <h3>{{ "Music" | translate }}</h3>
      <img src="../../assets/gifs/MI MUSICA.gif" alt="" />
      <div class="card-buttons">
        <a
          href="https://github.com/JoniMeichtry11/mi-musica"
          target="__blank"
          style="background: #000000"
        >
          <span
            ><i class="fab fa-github" style="padding-right: 3px"></i
            >{{ "button-repository" | translate }}</span
          >
        </a>
        <a
          href="https://mi-musica-73129.web.app/"
          target="__blank"
          style="background: rgb(14, 179, 14)"
        >
          <span>{{ "button-visit-web" | translate }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="container-title">
    <div class="title-img">
      <img
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg"
        alt="mongodb"
      />
      <img
        src="https://angular.io/assets/images/logos/angular/angular.svg"
        alt="angular"
      />
      <img
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
        alt="nodejs"
      />
      <h2>Stack MEAN</h2>
    </div>
  </div>
  <div class="container-cards">
    <div class="card-proyect">
      <h3>{{ "APP-Budget" | translate }}</h3>
      <img src="../../assets/gifs/memes.gif" alt="" />
      <div class="card-buttons">
        <a
          href="https://github.com/JoniMeichtry11/App-presupuesto"
          target="__blank"
          style="background: #000000"
        >
          <span
            ><i class="fab fa-github" style="padding-right: 3px"></i
            >{{ "button-repository" | translate }}</span
          >
        </a>
        <a
          href="https://mipresupuesto.netlify.app/home/"
          target="__blank"
          style="background: rgb(14, 179, 14)"
        >
          <span>{{ "button-visit-web" | translate }}</span>
        </a>
      </div>
    </div>
    <div class="card-proyect">
      <h3>{{ "Image Random" | translate }}</h3>
      <img src="../../assets/gifs/MI MUSICA.gif" alt="" />
      <div class="card-buttons">
        <a
          href="https://github.com/JoniMeichtry11/Foto-Random-Stack-MEAN"
          target="__blank"
          style="background: #000000"
        >
          <span
            ><i class="fab fa-github" style="padding-right: 3px"></i
            >{{ "button-repository" | translate }}</span
          >
        </a>
        <a
          href="https://foto-random.netlify.app/"
          target="__blank"
          style="background: rgb(14, 179, 14)"
        >
          <span>{{ "button-visit-web" | translate }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="container-title">
    <h2>{{ "Proyects f-p" | translate }}</h2>
  </div>
  <div class="container-cards">
    <div class="card-proyect">
      <h3>Chat JavaScript</h3>
      <img src="../../assets/gifs/javascript.gif" alt="" />
      <div class="card-buttons">
        <a
          href="https://github.com/JoniMeichtry11/Chat-JavaScript"
          target="__blank"
          style="background: #000000"
        >
          <span
            ><i class="fab fa-github" style="padding-right: 3px"></i
            >{{ "button-repository" | translate }}</span
          >
        </a>
        <a
          href="https://chat-javascript011.herokuapp.com/"
          target="__blank"
          style="background: rgb(14, 179, 14)"
        >
          <span>{{ "button-visit-web" | translate }}</span>
        </a>
      </div>
    </div>
    <div class="card-proyect">
      <h3>{{ "portfolio" | translate }}</h3>
      <img src="../../assets/gifs/portafolio.png" alt="" />
      <div class="card-buttons">
        <a
          href="https://github.com/JoniMeichtry11/precios-cripto"
          target="__blank"
          style="background: #000000"
        >
          <span
            ><i class="fab fa-github" style="padding-right: 3px"></i
            >{{ "button-repository" | translate }}</span
          >
        </a>
        <a
          href="https://precios-criptos.netlify.app/"
          target="__blank"
          style="background: rgb(14, 179, 14)"
        >
          <span>{{ "button-visit-web" | translate }}</span>
        </a>
      </div>
    </div>
    <div class="card-proyect">
      <h3>{{ "weather app" | translate }}</h3>
      <img src="../../assets/gifs/clima.png" alt="" />
      <div class="card-buttons">
        <a
          href="https://github.com/JoniMeichtry11/App-Clima"
          target="__blank"
          style="background: #000000"
        >
          <span
            ><i class="fab fa-github" style="padding-right: 3px"></i
            >{{ "button-repository" | translate }}</span
          >
        </a>
        <a
          href="https://local-climate.netlify.app/"
          target="__blank"
          style="background: rgb(14, 179, 14)"
        >
          <span>{{ "button-visit-web" | translate }}</span>
        </a>
      </div>
    </div>
    <div class="card-proyect">
      <h3>{{ "Napoleon" | translate }}</h3>
      <img src="../../assets/gifs/napoleon.png" alt="" />
      <div class="card-buttons">
        <a
          href="https://github.com/JoniMeichtry11/Napoleon"
          target="__blank"
          style="background: #000000"
        >
          <span
            ><i class="fab fa-github" style="padding-right: 3px"></i
            >{{ "button-repository" | translate }}</span
          >
        </a>
        <a
          href="https://napo.netlify.app/"
          target="__blank"
          style="background: rgb(14, 179, 14)"
        >
          <span>{{ "button-visit-web" | translate }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-contact">
      <p>{{ "Footer-contact" | translate }}</p>
      <div class="container-redes">
        <a href="https://wa.me/+543462680561" target="__blank" id="whatsapp">
          <img src="../assets/whatsapp.png" alt="whatsapp" />
        </a>
        <a
          href="https://github.com/JoniMeichtry11"
          target="__blank"
          id="github"
        >
          <img src="../assets/github.png" alt="github" />
        </a>
        <a href="https://twitter.com/JoniMech11" target="__blank" id="twitter">
          <img src="../assets/twitter.png" alt="twitter" />
        </a>
        <a href="mailto:joni.meichtry@gmail.com" target="__blank" id="gmail">
          <img src="../assets/gmail.png" alt="gmail" />
        </a>
        <a
          href="https://www.linkedin.com/in/jonathanmeichtry"
          target="__blank"
          id="linkedin"
        >
          <img src="../assets/linkedin.png" alt="linkedin" />
        </a>
      </div>
    </div>
    <div class="footer-back">
      <button routerLink="/home">{{ "Back-home" | translate }}</button>
    </div>
  </div>
</div>
