<div class="container-networks">
  <div class="buttons-networks">
    <a href="https://wa.me/+543462680561" target="__blank" id="whatsapp">
      <img src="../assets/whatsapp.png" alt="whatsapp" />
      <p>Whatsapp +54 3462 680561</p>
    </a>
    <a href="https://twitter.com/JoniMech11" target="__blank" id="twitter">
      <img src="../assets/twitter.png" alt="twitter" />
      <p>Twitter @JoniMech11</p>
    </a>
    <a href="https://github.com/JoniMeichtry11" target="__blank" id="github">
      <img src="../assets/github.png" alt="github" />
      <p>github.com/JoniMeichtry11</p>
    </a>
    <a href="mailto:joni.meichtry@gmail.com" target="__blank" id="gmail">
      <img src="../assets/gmail.png" alt="gmail" />
      <p>joni.meichtry@gmail.com</p>
    </a>
    <a
      href="https://www.linkedin.com/in/jonathanmeichtry"
      target="__blank"
      id="linkedin"
    >
      <img src="../assets/linkedin.png" alt="linkedin" />
      <p>linkedin.com/in/jonathanmeichtry</p>
    </a>
  </div>
  <div class="buttons-networks">
    <button routerLink="/proyects">{{ "Proyects" | translate }}</button>
    <button routerLink="/home">{{ "Back-home" | translate }}</button>
  </div>
</div>
