
<div class="container">
  <header>
    <div class="container-lenguage">
      <h3>&nbsp;&nbsp;&nbsp;&nbsp; Idioma &nbsp; | &nbsp; Language</h3>
      <div class="container-lenguage-btn">
        <button (click)="changeEs()">
          <img src="../assets/espana.png" alt="Español"/> Español
        </button>
        <button (click)="changeEn()">
          <img src="../assets/united-kingdom.png" alt="Ingles" /> English
        </button>
      </div>
    </div>
  </header>
  <main>
    <router-outlet ></router-outlet>
  </main>
  <footer></footer>
</div>
