<div class="main">
  <div class="leading">
    <section class="profile">
      <div class="profile__container">
        <div class="profile__image slideInLeft">
          <img src="../assets/programador.png" alt="Programador Web" />
        </div>
        <div class="profile__name">
          <div style="display: flex; justify-content: center">
            <h1>Jonathan</h1>
            <h1>&nbsp;Meichtry</h1>
          </div>
          <h2>{{ "D.W" | translate }}</h2>
          <hr />
        </div>
      </div>
      <div class="container-redes">
        <a href="https://wa.me/+543462680561" target="__blank" id="whatsapp">
          <img src="../assets/whatsapp.png" alt="whatsapp" />
          <p>+54 3462 680561</p>
        </a>
        <a
          href="https://github.com/JoniMeichtry11"
          target="__blank"
          id="github"
        >
          <img src="../assets/github.png" alt="github" />
          <p>github.com/JoniMeichtry11</p>
        </a>
        <a href="https://twitter.com/JoniMech11" target="__blank" id="twitter">
          <img src="../assets/twitter.png" alt="twitter" />
          <p>@JoniMech11</p>
        </a>
        <a href="mailto:joni.meichtry@gmail.com" target="__blank" id="gmail">
          <img src="../assets/gmail.png" alt="gmail" />
          <p>joni.meichtry@gmail.com</p>
        </a>
        <a
          href="https://www.linkedin.com/in/jonathanmeichtry"
          target="__blank"
          id="linkedin"
        >
          <img src="../assets/linkedin.png" alt="linkedin" />
          <p>linkedin.com/in/jonathanmeichtry</p>
        </a>
      </div>
      <div class="container-btn">
        <div class="container-btn-cv">
          <a
            href="../assets/Curriculum 2022.pdf"
            download="Curriculum | Jonathan Meichtry"
            >{{ "DownloadCV" | translate }}
            <img src="../assets/cv.png" alt="cv"
          /></a>
        </div>
        <div class="container-btn-btns">
          <button routerLink="/about-me">{{ "About me" | translate }}</button>
          <button routerLink="/proyects">{{ "Proyects" | translate }}</button>
          <button routerLink="/contact">{{ "Contact" | translate }}</button>
        </div>
      </div>
    </section>
  </div>
</div>
